

<div data-role="view" data-title="Details" data-model="app.productListView.productListViewModel" data-bind="events: { show: detailsShow }" id="productListViewModelScreen" class="screen screen--detail">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem['ProductName']"></span>
            <a data-role="button" data-bind="click: addtoCart" data-align="right">Add to Cart</a>
        </div>
    </header>

    <div class="details-content screen__content screen__content--details">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">

                <li>
                    <div data-bind="html: currentItem.ProductDescription"></div>
                </li>
                <li><img data-bind="attr: { src: currentItem.ProductImagesUrl }" width="100%" height="auto"></li>
            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_productListViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <li> <button style="width: 100%" data-role="button" data-bind="click: addtoCart">Add to Cart</button> </li>
    <!-- END_CUSTOM_CODE_productListViewModel -->
</div>