<div data-role="view" data-title="Log In" data-layout="main" data-model="app.loginModelView" data-show="app.loginModelView.onShow"
	data-after-show="app.loginModelView.afterShow" id="loginModelViewScreen" class="screen">
	<!--<header data-role="header">
		<div data-role="navbar" class="header-text"> <span data-bind="text: strings.loginModelView.title"></span>
			<a data-role="button" href="#appDrawer" data-rel="drawer"
				data-align="left" data-icon="drawer-button"></a>
		</div>
	</header>-->
	<form>
		<ul data-role="listview" data-style="inset">
			<li> <label>
                  Username:
                  <input type="text" name="username" data-bind="value: username">
              </label> </li>
			<li> <label>
                  Password:
                  <input type="password" name="password" data-bind="value: password">
              </label> </li>
			<li> <button style="width: 100%" data-role="button" data-bind="click: submit">Log In</button> </li>
		</ul>
	</form>
	<div style="text-align:center; padding-top:20px"><a href="#register">Don't have a Air2U Account? Register for FREE!</a></div>
	<div style="text-align:center; padding-top:20px"><a href="#password">Forgot Password?</a>
	</div>
	<!-- START_CUSTOM_CODE_loginModelView -->
	<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
	<!-- END_CUSTOM_CODE_loginModelView -->
</div>
<div data-role="view" id="register" data-title="Register" data-model="app.registerView" >
        <div data-role="navbar"> <a href="#loginModelViewScreen" data-align="left" data-role="button">Back</a> <span data-role="view-title"></span> </div>
        <form>
            <ul data-role="listview" data-style="inset">
                <li> <label>
                  Email Address:
                  <input type="email" name="email" data-bind="value: email">
              </label> </li>
                <li> <label>
                  Username:
                  <input type="text" name="username" data-bind="value: username">
              </label> </li>
                <li> <label>
                  Password:
                  <input type="password" name="password" data-bind="value: password">
              </label> </li>
                <li> <button style="width: 100%" data-role="button" data-bind="click: submit">Register</button> </li>
            </ul>
        </form>
</div>
<div data-role="view" id="password" data-title="Reset Password" data-model="app.passwordView">
        <div data-role="navbar"> <a href="#loginModelViewScreen" data-align="left" data-role="button">Back</a> <span data-role="view-title"></span> </div>
        <form>
            <ul data-role="listview" data-style="inset">
                <li> <label>
                  Email Address:
                  <input type="email" name="email" data-bind="value: email">
              </label> </li>
                <li> <button style="width: 100%" data-role="button" data-bind="click: submit">Reset</button> </li>
            </ul>
        </form>
</div>