<div data-role="view" data-title="View" data-layout="main" data-model="app.categoryListView" data-show="app.categoryListView.onShow" data-after-show="app.categoryListView.afterShow" id="categoryListViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.categoryListView.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_categoryListView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_categoryListView -->
    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="inset" data-template="categoryListViewModelTemplate" data-bind="source: categoryListViewModel.dataSource, events: {click: categoryListViewModel.itemClick}" data-pull-to-refresh="true"
    data-endless-scroll="false">
    </ul>


    <!-- START_CUSTOM_CODE_categoryListViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_categoryListViewModel -->
    <script type="text/x-kendo-template" id="categoryListViewModelTemplate">
        <div class="image-with-text">
            # data = app.categoryListView.categoryListViewModel.fixHierarchicalData(data); #

            <h3>#: data['Categoryname'] #</h3>

        </div>
    </script>
</div>