<div data-role="view" data-title="View" data-layout="main" data-model="app.shoppingCartView" data-show="app.shoppingCartView.onShow" data-after-show="app.shoppingCartView.afterShow" id="shoppingCartViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.shoppingCartView.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_shoppingCartView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_shoppingCartView -->
    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="inset" data-template="shoppingCartViewModelTemplate" data-bind="source: shoppingCartViewModel.dataSource, events: {click: shoppingCartViewModel.itemClick}" data-pull-to-refresh="false"
    data-endless-scroll="false">
    </ul>


    <!-- START_CUSTOM_CODE_shoppingCartViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_shoppingCartViewModel -->
    <script type="text/x-kendo-template" id="shoppingCartViewModelTemplate">
        <div class="image-with-text">
            # data = app.shoppingCartView.shoppingCartViewModel.fixHierarchicalData(data); #

            <img src="#: data['ProductUrl'] #">
            <h3>#: data['Product'] #</h3>

        </div>
    </script>
</div>