<div data-role="view" data-title="View" data-layout="main" data-model="app.contactUsView" data-show="app.contactUsView.onShow" data-after-show="app.contactUsView.afterShow" id="contactUsViewScreen" class="screen">
    <div class="about-view screen__content screen__content--about" data-bind="invisible:error">
        <div class="icon-group">

            <div class="app-icon">
                <img src="resources/aquapower-logo.png">
            </div>


            <div class="app-details">


            </div>
        </div>


        <div class="button-group button-group-vertical">
            <a data-role="button" data-rel="external" href="mailto:enquiry@aquapowerwater.com" data-bind="buttonText: strings.contactUsView.contactUsViewModel.contactLabel"></a>
            <a data-role="button" data-rel="external" href="#" onclick="app.openLink('https://www.facebook.com/aquapowersystems');" data-bind="buttonText: strings.contactUsView.contactUsViewModel.facebookLabel"></a>
            <a data-role="button" data-rel="external" href="#" onclick="app.openLink('https://twitter.com/aquapowersystem');" data-bind="buttonText: strings.contactUsView.contactUsViewModel.twitterLabel"></a>
        </div>
        <!-- START_CUSTOM_CODE_contactUsViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_contactUsViewModel -->
    </div>
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.contactUsView.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_contactUsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_contactUsView -->
</div>